/* @define faq */

button.qa__question {
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  box-shadow: none;
  padding-left: 0;
}

button.qa__question:hover,
button.qa__question:focus {
  text-decoration: none;
  color: #cfd6dd !important;
}

.qa .card-body {
  font-family: "Nunito-Regular", sans-serif;
  background: rgb(11, 50, 87);
  font-size: 16px;
  color: #fff;
}

.card {
  background: rgb(11, 50, 87) !important;
  color: white !important;
}

.qa__header svg {
  font-size: 20px;
  color: #fff;
}
