/* @define header-dropdown */

.popover {
  z-index: 100003;
  left: 3rem !important;
}

.popover-inner{

}

.header-dropdown__header {
  background-color: rgb(12, 57, 99)!important;
  color: #2ac0d5;
}

.header-dropdown__body {
  background-color: rgb(11, 50, 87)!important;
  color: #2ac0d5;
}

.header-dropdown__footer {
  background-color: rgb(12, 57, 99)!important;
  color: #2ac0d5;
  padding: 18px;
}

.header-dropdown__title {
  font-weight: bold;
}

.header-dropdown__address-prefix {
  color: #2ac0d5;
}

.header-dropdown__address {
  color: #2ac0d5;
}
